.header{
background: url(img/pexels-tina-nord-816377.jpg);
height: 300px;
    font-family: Yeon Sung;
    background-size: cover;


}
.boutons{
    box-shadow: 5px 5px 5px black;

}
.corps{
height: 2000px;

}
.photo{
height: 30%;
width: 30%;

}
.logo{

    height: 10%;
    width: 10%;
}